{% extends "base.html" %}
{% load static %}

{% block main %}
    <!--slider area start-->
    <section class="slider_section mb-80">
        <div class="slider_area slider_carousel owl-carousel">
            {% for slider in sliders %}
                <div class="single_slider d-flex align-items-center" data-bgimg="{{ slider.image.url }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider_content">
                                    <h1><span>{{ slider.title }}</span></h1>
                                    <p>{{ slider.text }}</p>
                                    <a class="button" href="{{ slider.url }}">{{ slider.button_text }} <i
                                            class="fa fa-angle-double-left"
                                            aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!--slider area end-->

    <!--banner area start-->
    <div class="banner_area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="welcome_title">
                        <h3>به دیوالت لند خوش آمدید</h3>
                        <br>
                        <h2>خرید با کیفیت ترین ابزار آلات برند<span> دیوالت</span></h2>
                        <p>کیفیت تضمین شده، همراه ۲۰ سال سابقه فروش</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->

    <!--Categories product area start-->
    <div class="categories_product_area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="categories_product_inner categories_column7 owl-carousel">
                        {% for category in categories %}
                            {% if category.image %}
                                <div class="single_categories_product">
                                    <div class="categories_product_thumb">
                                        <a href="{% url "product:product-list" %}?category={{ category.slug }}"><img
                                                src="{{ category.image.url }}"
                                                alt=""></a>
                                    </div>
                                    <div class="categories_product_content">
                                        <h4>
                                            <a href="{% url "product:product-list" %}?category={{ category.slug }}">{{ category.title }}</a>
                                        </h4>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories product area end-->

    <!--home section bg area start-->
    <div class="home_section_bg">
        <!--product area start-->
        <div class="product_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2><span>محصولات </span>ما</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                                فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با .</p>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#most-selling" role="tab"
                                       aria-controls="Sellers" aria-selected="true">پرفروش ترین ها</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#most-recent" role="tab" aria-controls="Featured"
                                       aria-selected="false">جدید ترین ها</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#cheapest" role="tab" aria-controls="Arrivals"
                                       aria-selected="false">ارزانترین ها</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="most-selling" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in most_selling_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if not product.call_before %}
                                                                    {% if product.discount %}
                                                                        <span class="old_price">{{ product.get_price }}</span>
                                                                        <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                    {% else %}
                                                                        <span class="current_price">{{ product.get_price }}</span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <span class="old_price"></span>
                                                                    <br>
                                                                    <span class="call_for_price">تماس  جهت اطلاع از قیمت</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart">
                                                                    {% if not product.call_before %}
                                                                        <form method="post">
                                                                            {% csrf_token %}

                                                                            <input min="1" max="100" value="1"
                                                                                   type="number"
                                                                                   id="quantity" hidden>

                                                                            <button onclick="AddToCart('{{ product.id }}')"
                                                                                    class="button"
                                                                                    type="button"
                                                                                    style="border-radius: 8px; border-width: 0px"
                                                                                    title="افزودن به سبد خرید">افزودن به
                                                                                سبد
                                                                                خرید
                                                                            </button>
                                                                        </form>
                                                                    {% else %}
                                                                        <a href="{% url "product:product-detail" product.id %}"
                                                                           class="button"
                                                                           type="button"
                                                                           style="border-radius: 8px; border-width: 0px"
                                                                           title="افزودن به سبد خرید">اطلاعات بیشتر
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                                <li class="wishlist">
                                                                    {% if request.user.is_authenticated %}
                                                                        <a onclick="AddFavorite('{{ product.id }}')"
                                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                                class="icon-heart"></i></a>
                                                                    {% else %}
                                                                        <a href="{% url "accounts:sign-in" %}"
                                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                                class="icon-heart"></i></a>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="most-recent" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in most_recent_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if not product.call_before %}
                                                                    {% if product.discount %}
                                                                        <span class="old_price">{{ product.get_price }}</span>
                                                                        <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                    {% else %}
                                                                        <span class="current_price">{{ product.get_price }}</span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <span class="old_price"></span>
                                                                    <br>
                                                                    <span class="call_for_price">تماس  جهت اطلاع از قیمت</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart">
                                                                    {% if not product.call_before %}
                                                                        <form method="post">
                                                                            {% csrf_token %}

                                                                            <input min="1" max="100" value="1"
                                                                                   type="number"
                                                                                   id="quantity" hidden>

                                                                            <button onclick="AddToCart('{{ product.id }}')"
                                                                                    class="button"
                                                                                    type="button"
                                                                                    style="border-radius: 8px; border-width: 0px"
                                                                                    title="افزودن به سبد خرید">افزودن به
                                                                                سبد
                                                                                خرید
                                                                            </button>
                                                                        </form>
                                                                    {% else %}
                                                                        <a href="{% url "product:product-detail" product.id %}"
                                                                           class="button"
                                                                           type="button"
                                                                           style="border-radius: 8px; border-width: 0px"
                                                                           title="افزودن به سبد خرید">اطلاعات بیشتر
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                                <li class="wishlist">
                                                                    {% if request.user.is_authenticated %}
                                                                        <a onclick="AddFavorite('{{ product.id }}')"
                                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                                class="icon-heart"></i></a>
                                                                    {% else %}
                                                                        <a href="{% url "accounts:sign-in" %}"
                                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                                class="icon-heart"></i></a>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cheapest" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in cheapest_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if not product.call_before %}
                                                                    {% if product.discount %}
                                                                        <span class="old_price">{{ product.get_price }}</span>
                                                                        <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                    {% else %}
                                                                        <span class="current_price">{{ product.get_price }}</span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <span class="old_price"></span>
                                                                    <br>
                                                                    <span class="call_for_price">تماس  جهت اطلاع از قیمت</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart">
                                                                    {% if not product.call_before %}
                                                                        <form method="post">
                                                                            {% csrf_token %}

                                                                            <input min="1" max="100" value="1"
                                                                                   type="number"
                                                                                   id="quantity" hidden>

                                                                            <button onclick="AddToCart('{{ product.id }}')"
                                                                                    class="button"
                                                                                    type="button"
                                                                                    style="border-radius: 8px; border-width: 0px"
                                                                                    title="افزودن به سبد خرید">افزودن به
                                                                                سبد
                                                                                خرید
                                                                            </button>
                                                                        </form>
                                                                    {% else %}
                                                                        <a href="{% url "product:product-detail" product.id %}"
                                                                           class="button"
                                                                           type="button"
                                                                           style="border-radius: 8px; border-width: 0px"
                                                                           title="افزودن به سبد خرید">اطلاعات بیشتر
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                                <li class="wishlist">
                                                                    {% if request.user.is_authenticated %}
                                                                        <a onclick="AddFavorite('{{ product.id }}')"
                                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                                class="icon-heart"></i></a>
                                                                    {% else %}
                                                                        <a href="{% url "accounts:sign-in" %}"
                                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                                class="icon-heart"></i></a>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if discounted_products.all %}
            <div class="product_area" style="background: #febd17; border-radius: 50px; border: black 1.5px solid">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="product_tab_btn">
                                <ul class="nav" role="tablist" id="nav-tab">
                                    <li>
                                        <h2>
                                            <strong>فروش ویژه</strong>
                                            <img src="{% static "img/icon/percentage-icon.png" %}">
                                        </h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="most-selling" role="tabpanel">
                            <div class="row">
                                <div class="product_carousel product_column5 owl-carousel">
                                    {% for product in discounted_products %}
                                        <div class="col-lg-3">
                                            <div class="product_items">
                                                <article class="single_product">
                                                    <figure>
                                                        <div class="product_thumb">
                                                            <a class="primary_img"
                                                               href="{% url "product:product-detail" product.id %}"><img
                                                                    src="{{ product.pictures.first }}"
                                                                    alt=""></a>
                                                            <a class="secondary_img"
                                                               href="{% url "product:product-detail" product.id %}"><img
                                                                    src="{{ product.pictures.all.1 }}"
                                                                    alt=""></a>
                                                            <div class="label_product">
                                                                {% if product.discount %}
                                                                    <span class="label_sale">-{{ product.discount }}%</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="product_content">
                                                            <div class="product_content_inner">
                                                                <h4 class="product_name"><a
                                                                        href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                    - {{ product.id }}</a></h4>
                                                                <div class="price_box">
                                                                    {% if not product.call_before %}
                                                                        {% if product.discount %}
                                                                            <span class="old_price">{{ product.get_price }}</span>
                                                                            <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                        {% else %}
                                                                            <span class="current_price">{{ product.get_price }}</span>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <span class="old_price"></span>
                                                                        <br>
                                                                        <span class="call_for_price">تماس  جهت اطلاع از قیمت</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="action_links">
                                                                <ul>
                                                                    <li class="add_to_cart">
                                                                        {% if not product.call_before %}
                                                                            <form method="post">
                                                                                {% csrf_token %}

                                                                                <input min="1" max="100" value="1"
                                                                                       type="number"
                                                                                       id="quantity" hidden>

                                                                                <button onclick="AddToCart('{{ product.id }}')"
                                                                                        class="button"
                                                                                        type="button"
                                                                                        style="border-radius: 8px; border-width: 0px"
                                                                                        title="افزودن به سبد خرید">
                                                                                    افزودن به
                                                                                    سبد
                                                                                    خرید
                                                                                </button>
                                                                            </form>
                                                                        {% else %}
                                                                            <a href="{% url "product:product-detail" product.id %}"
                                                                               class="button"
                                                                               type="button"
                                                                               style="border-radius: 8px; border-width: 0px"
                                                                               title="افزودن به سبد خرید">اطلاعات بیشتر
                                                                            </a>
                                                                        {% endif %}
                                                                    </li>
                                                                    <li class="wishlist">
                                                                        {% if request.user.is_authenticated %}
                                                                            <a onclick="AddFavorite('{{ product.id }}')"
                                                                               title="افزودن به لیست علاقمندی ها"><i
                                                                                    class="icon-heart"></i></a>
                                                                        {% else %}
                                                                            <a href="{% url "accounts:sign-in" %}"
                                                                               title="افزودن به لیست علاقمندی ها"><i
                                                                                    class="icon-heart"></i></a>
                                                                        {% endif %}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </article>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!--product area end-->

        <!--banner area start-->
        <div class="banner_area mb-80">
            <div class="container">
            </div>
        </div>
        <!--banner area end-->

        <!--product area start-->
        <div class="product_area">
            <div class="container">
            </div>
        </div>
        <!--product area end-->

        <!--blog area start-->
        <div class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title title_style2">
                            <div class="title_content">
                                <h2><span>آخرین</span> پست های وبلاگ</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog_container blog_column4 owl-carousel">
                        {% for article in articles %}
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="{% url "blog:detail" article.slug %}"><img
                                                    src="{{ article.image.url }}"
                                                    alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4><a href="{% url "blog:detail" article.slug %}">{{ article.title }} </a>
                                            </h4>
                                            <div class="post_meta">
                                                <p>
                                                    <a href="{% url "blog:list" %}?category={{ article.category.slug }}">{{ article.category.title }}</a>
                                                    / {{ article.get_jalali_date }}</p>
                                            </div>
                                            <div class="post_desc">
                                                <p>{{ article.short_content|safe }}</p>
                                            </div>
                                            <footer class="post_readmore">
                                                <a href="{% url "blog:detail" article.slug %}">ادامه خواندن</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--blog area end-->
    </div>
    <!--home section bg area end-->

{% endblock %}