{% extends "base.html" %}
{% load static %}

{% block main %}
    <!--slider area start-->
    <section class="slider_section mb-80">
        <div class="slider_area slider_carousel owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static "img/slider/slider1.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h1>تخفیف بزرگ <span>لوازم جانبی Fidanza</span></h1>
                                <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                                <a class="button" href="{% url "product:product-list" %}">اکنون خرید کنید <i
                                        class="fa fa-angle-double-left"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static "img/slider/slider2.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content center">
                                <h1>لوازم جانبی <span>انواع تریلر تراکتور</span></h1>
                                <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                                <a class="button" href="shop.html">اکنون خرید کنید <i class="fa fa-angle-double-left"
                                                                                      aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static "img/slider/slider3.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h1>بالاترین <span>داخل خودرو جدید</span></h1>
                                <p>پیشنهاد انحصاری -20% تخفیف این هفته</p>
                                <a class="button" href="shop.html">اکنون خرید کنید <i class="fa fa-angle-double-left"
                                                                                      aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider area end-->

    <!--banner area start-->
    <div class="banner_area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="welcome_title">
                        <h3>به دیوالت لند خوش آمدید</h3>
                        <h2>خرید با کیفیت ترین ابزار آلات برند<span> Dewalt</span></h2>
                        <p>کیفیت تضمین شده، همراه ۲۰ سال سابقه فروش</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->

    <!--Categories product area start-->
    <div class="categories_product_area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="categories_product_inner categories_column7 owl-carousel">
                        {% for category in categories %}
                            <div class="single_categories_product">
                                <div class="categories_product_thumb">
                                    <a href="{% url "product:product-list" %}?category={{ category.slug }}"><img
                                            src="{{ category.image.url }}"
                                            alt=""></a>
                                </div>
                                <div class="categories_product_content">
                                    <h4>
                                        <a href="{% url "product:product-list" %}?category={{ category.slug }}">{{ category.title }}</a>
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories product area end-->

    <!--home section bg area start-->
    <div class="home_section_bg">
        <!--product area start-->
        <div class="product_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2><span>محصولات </span>ما</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                                فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با .</p>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#most-selling" role="tab"
                                       aria-controls="Sellers" aria-selected="true">پرفروش ترین ها</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#most-recent" role="tab" aria-controls="Featured"
                                       aria-selected="false">جدید ترین ها</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#cheapest" role="tab" aria-controls="Arrivals"
                                       aria-selected="false">ارزانترین ها</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="most-selling" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in most_selling_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <p class="manufacture_product"><a
                                                                    href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category.title }}</a>
                                                            </p>
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if product.discount %}
                                                                    <span class="old_price">{{ product.get_price }}</span>
                                                                    <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                {% else %}
                                                                    <span class="current_price">{{ product.get_price }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart">
                                                                    <form method="post"
                                                                          id="add-to-cart"
                                                                          action="{% url "payment:cart-add" product.id %}">
                                                                        {% csrf_token %}
                                                                        <input min="1" max="100" value="1" type="number"
                                                                               name="quantity" hidden>
                                                                        <button class="button" type="submit"
                                                                                style="border-radius: 8px; border-width: 0px"
                                                                                title="افزودن به سبد خرید">افزودن به سبد
                                                                            خرید
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                                <li class="wishlist">
                                                                    <a
                                                                            onclick="AddFavorite('{{ product.id }}')"
                                                                            title="افزودن به لیست علاقمندی ها">
                                                                        <i class="icon-bookmark"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="most-recent" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in most_recent_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <p class="manufacture_product"><a
                                                                    href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category.title }}</a>
                                                            </p>
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if product.discount %}
                                                                    <span class="old_price">{{ product.get_price }}</span>
                                                                    <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                {% else %}
                                                                    <span class="current_price">{{ product.get_price }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a href="cart.html"
                                                                                           title="افزودن به سبد خرید">افزودن
                                                                    به سبد خرید</a>
                                                                </li>
                                                                <li class="wishlist"><a href=""
                                                                                        title="افزودن به لیست علاقمندی ها"><i
                                                                        class="icon-heart"></i></a></li>
                                                                <li class="compare"><a href=""
                                                                                       title="مقایسه"><i
                                                                        class="icon-rotate-cw"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cheapest" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in cheapest_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <p class="manufacture_product"><a
                                                                    href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category.title }}</a>
                                                            </p>
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if product.discount %}
                                                                    <span class="old_price">{{ product.get_price }}</span>
                                                                    <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                {% else %}
                                                                    <span class="current_price">{{ product.get_price }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a href="cart.html"
                                                                                           title="افزودن به سبد خرید">افزودن
                                                                    به سبد خرید</a>
                                                                </li>
                                                                <li class="wishlist"><a href=""
                                                                                        title="افزودن به لیست علاقمندی ها"><i
                                                                        class="icon-heart"></i></a></li>
                                                                <li class="compare"><a href=""
                                                                                       title="مقایسه"><i
                                                                        class="icon-rotate-cw"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_area" style="background: #febd17; border-radius: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <h2>
                                        <strong>فروش ویژه</strong>
                                        <img src="{% static "img/icon/percentage-icon.png" %}">
                                    </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="most-selling" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column5 owl-carousel">
                                {% for product in discounted_products %}
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.first }}"
                                                                alt=""></a>
                                                        <a class="secondary_img"
                                                           href="{% url "product:product-detail" product.id %}"><img
                                                                src="{{ product.pictures.all.1 }}"
                                                                alt=""></a>
                                                        <div class="label_product">
                                                            {% if product.discount %}
                                                                <span class="label_sale">-{{ product.discount }}%</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <div class="product_content_inner">
                                                            <p class="manufacture_product"><a
                                                                    href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category.title }}</a>
                                                            </p>
                                                            <h4 class="product_name"><a
                                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                                - {{ product.id }}</a></h4>
                                                            <div class="price_box">
                                                                {% if product.discount %}
                                                                    <span class="old_price">{{ product.get_price }}</span>
                                                                    <span class="current_price">{{ product.get_discounted_price }}</span>
                                                                {% else %}
                                                                    <span class="current_price">{{ product.get_price }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a href="cart.html"
                                                                                           title="افزودن به سبد خرید">افزودن
                                                                    به سبد خرید</a>
                                                                </li>
                                                                <li class="wishlist"><a href=""
                                                                                        title="افزودن به لیست علاقمندی ها"><i
                                                                        class="icon-heart"></i></a></li>
                                                                <li class="compare"><a href=""
                                                                                       title="مقایسه"><i
                                                                        class="icon-rotate-cw"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product area end-->

        <!--banner area start-->
        <div class="banner_area mb-80">
            <div class="container">
            </div>
        </div>
        <!--banner area end-->

        <!--product area start-->
        <div class="product_area">
            <div class="container">
            </div>
        </div>
        <!--product area end-->

        <!--blog area start-->
        <div class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title title_style2">
                            <div class="title_content">
                                <h2><span>آخرین</span> پست های وبلاگ</h2>
                                <p>محصولات مزلی با بالاترین تخفیف</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog_container blog_column4 owl-carousel">
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static "img/blog/blog1.jpg" %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">عنوان مطلب خبری </a></h4>
                                        <div class="post_meta">
                                            <p><a href="#">تجارت الکترونیک</a> / 17 مهر</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و ...</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">ادامه خواندن</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static "img/blog/blog2.jpg" %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">عنوان خبر</a></h4></h4>
                                        <div class="post_meta">
                                            <p><a href="#">تجارت الکترونیک</a> / 17 مهر</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و ...</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">ادامه خواندن</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static "img/blog/blog3.jpg" %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">عنوان خبر</a></h4>
                                        <div class="post_meta">
                                            <p><a href="#">تجارت الکترونیک</a> / 17 مهر</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و ...</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">ادامه خواندن</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static "img/blog/blog4.jpg" %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">عنوان مطلب خبری </a></h4>
                                        <div class="post_meta">
                                            <p><a href="#">تجارت الکترونیک</a> / 17 مهر</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و ...</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">ادامه خواندن</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static "img/blog/blog2.jpg" %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">عنوان خبر</a></h4></h4>
                                        <div class="post_meta">
                                            <p><a href="#">تجارت الکترونیک</a> / 17 مهر</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و ...</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">ادامه خواندن</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--blog area end-->
    </div>
    <!--home section bg area end-->
{% endblock %}