{% extends "base.html" %}
{% load static %}

{% block title %}
    تغییر گذرواژه - کیوان ابزار
{% endblock %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "accounts:edit-profile" %}">اطلاعات من</a></li>
                            <li><a href="{% url "accounts:change-password" %}">تغییر گذرواژه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- customer login start -->
    <div class="login_page_bg">
        <div class="container">
            <div class="customer_login">
                <div class="row">
                    <!--login area start-->
                    <div class="col-lg-6 col-md-6 mx-auto">
                        <div class="account_form login">
                            <h2>تغییر گذرواژه</h2>
                            <form method="post">

                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p class="alert-danger p-1 rounded text-center">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <p class="alert-danger p-1 rounded text-center">{{ error }}</p>
                                {% endfor %}

                                {% csrf_token %}

                                <p>
                                    <label> رمز عبور قبلی خود را وارد نمایید <span>*</span></label>
                                    {{ form.old_password }}
                                </p>
                                <p>
                                    <label> رمز عبور جدید خود را وارد نمایید <span>*</span></label>
                                    {{ form.new_password }}
                                </p>
                                <p>
                                    <label> رمز عبور جدید خود را مجدد وارد نمایید <span>*</span></label>
                                    {{ form.repeat_new_password }}
                                </p>

                                <div class="login_submit">
                                    <button type="submit">تغییر گذرواژه</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!--login area start-->
                </div>
            </div>
        </div>
    </div>

    <!-- customer login end -->
{% endblock %}