{% extends 'base.html' %}
{% load static %}




{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "accounts:contact-us" %}">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <div class="contact_page_bg">
        <!--contact map start-->
        <div class="contact_map">
            <div class="map-area">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12563.237586326095!2d46.290107!3d38.0748198!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a05e717e3bd13%3A0xd18cdd10dfead63!2z2KfYqNiy2KfYsSDZvtmI2LHaqduM2YjYp9mGICjYr9uM2YjYp9mE2KrYjCDYqNmI2LQg2Ygg2qnYsdmI2YYp!5e0!3m2!1sen!2s!4v1688049364350!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!--contact map end-->
        <div class="container">
            <!--contact area start-->
            <div class="contact_area">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message content">
                            {% for i in info %}
                                <h3>با ما تماس بگیرید</h3>
                                <ul>
                                    <li><i class="fa fa-fax"></i> آدرس : {{ i.address }}</li>
                                    <li><i class="fa fa-phone"></i> <a href="#">{{ i.telephone }}</a></li>
                                    <li><i class="fa fa-envelope-o"></i> {{ i.email }} </li>
                                </ul>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message form">
                            <h3>پیغام خود را بنویسید</h3>
                            <form method="POST" id="contactus-form">
                                {% csrf_token %}
                                <p>
                                    <label> نام و نام خانوادگی شما (اجباری)</label>
                                    {{ form.fullname }}
                                </p>
                                <p>
                                    <label> ایمیل شما (اجباری)</label>
                                    {{ form.email }}
                                </p>
                                <p>
                                    <label> موضوع</label>
                                    {{ form.subject }}
                                </p>
                                <div class="contact_textarea">
                                    <label> پیغام شما</label>
                                    {{ form.message }}
                                </div>
                                <button type="submit"> ارسال</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!--contact area end-->
        </div>
    </div>

{% endblock %}