{% extends 'base.html' %}
{% load static %}

{% block title %}
    تماس با ما - دیوالت لند
{% endblock %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "accounts:contact-us" %}">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <div class="contact_page_bg">
        <!--contact map start-->

        <!--contact map end-->
        <div class="container">
            <!--contact area start-->
            <div class="contact_area">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message content">
                            {% for i in information %}
                                <h3>با ما تماس بگیرید</h3>
                                <ul>
                                    <li><i class="fa fa-location-arrow"></i> آدرس : {{ i.address }}</li>
                                    <li><i class="fa fa-clock-o"></i> ساعات کاری : شنبه تا چهارشنبه ۹ تا ۱۸:۳۰ - پنجشنبه ۹ تا ۱۷</li>
                                    <li><i class="fa fa-phone"></i> تلفن تماس (فروشگاه): <a href="tel:{{ info.telephone }}">{{ i.telephone }}</a></li>
                                    <li><i class="fa fa-mobile-phone"></i> تلفن همراه: <a href="tel:{{ info.phone_number }}">{{ i.phone_number }}</a></li>
                                    <li><i class="fa fa-envelope-o"></i> {{ i.email }} </li>
                                </ul>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message form">
                            <h3>پیغام خود را بنویسید</h3>
                            <form method="POST" id="contactus-form">
                                {% csrf_token %}
                                <p>
                                    <label> نام و نام خانوادگی شما (اجباری)</label>
                                    {{ form.fullname }}
                                </p>
                                <p>
                                    <label> ایمیل شما (اجباری)</label>
                                    {{ form.email }}
                                </p>
                                <p>
                                    <label> موضوع</label>
                                    {{ form.subject }}
                                </p>
                                <div class="contact_textarea">
                                    <label> پیغام شما</label>
                                    {{ form.message }}
                                </div>
                                <button type="submit"> ارسال</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!--contact area end-->
        </div>
    </div>

{% endblock %}