{% extends "base.html" %}
{% load static %}

{% block title %}
    بازیابی گذرواژه - کیوان ابزار
{% endblock %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "accounts:sign-in" %}">ورود به حساب</a></li>
                            <li>فراموشی گذرواژه</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- customer login start -->
    <div class="login_page_bg">
        <div class="container">
            <div class="customer_login">
                <div class="row">
                    <!--login area start-->
                    <div class="col-lg-6 col-md-6 mx-auto">
                        <div class="account_form login">
                            <h2>بازیابی گذرواژه</h2>
                            <form method="post">

                                {% for error in form.phone_number.errors %}
                                    <p class="alert-danger p-1 rounded text-center">{{ error }}</p>
                                {% endfor %}

                                {% csrf_token %}
                                <p>
                                    <label>شماره موبایل <span>*</span></label>
                                    {{ form.phone_number }}
                                </p>
                                <div class="login_submit">

                                    <button type="submit">ارسال</button>

                                </div>

                            </form>
                        </div>
                    </div>
                    <!--login area start-->
                </div>
            </div>
        </div>
    </div>

    <!-- customer login end -->
{% endblock %}