{% extends "base.html" %}
{% load static %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "blog:list" %}">مقالات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <div class="blog_bg_area">
        <div class="container">
            <!--blog area start-->
            <div class="blog_page_section blog_reverse">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="blog_wrapper mb-30">
                            <div class="blog_header">
                                <h1>وبلاگ</h1>
                            </div>
                            <div class="blog_wrapper_inner">
                                {% for article in articles %}
                                    <article class="single_blog">
                                        <figure>
                                            <div class="blog_thumb">
                                                <a href="{% url "blog:detail" article.slug %}"><img
                                                        src="{{ article.image.url }}"
                                                        alt=""></a>
                                            </div>
                                            <figcaption class="blog_content">
                                                <h4 class="post_title"><a
                                                        href="{% url "blog:detail" article.slug %}">{{ article.title }}</a>
                                                </h4>
                                                <div class="blog_meta">
                                                    <span class="author">دسته بندی: <a
                                                            href="#">{{ article.category.title }}</a> / </span>
                                                    <span class="meta_date">ارسال شده در:
                                                        <a>
                                                            {{ article.get_jalali_date }}
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="blog_desc">
                                                    <p>
                                                        {{ article.short_content|safe }}
                                                    </p>
                                                </div>
                                                <footer class="btn_more">
                                                    <a href="{% url "blog:detail" article.slug %}"> بیشتر بخوانید</a>
                                                </footer>
                                            </figcaption>
                                        </figure>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                        <!--blog pagination area start-->
                        {% if articles.has_other_pages %}
                            <div class="blog_pagination">
                                <div class="pagination">
                                    <ul>
                                        {% if articles.has_previous %}
                                            <li><a href="?page={{ articles.previous_page_number }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">قبلی</a>
                                            </li>
                                        {% endif %}

                                        {% for i in articles.paginator.page_range %}
                                            {% if articles.number == i %}
                                                <a href="?page={{ i }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">
                                                    <li class="current">{{ i }}</li>
                                                </a>
                                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                                <a href="?page={{ i }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">
                                                    <li>{{ i }}</li>
                                                </a>
                                            {% endif %}
                                        {% endfor %}

                                        {% if articles.has_next %}
                                            <li class="next"><a href="?page={{ articles.next_page_number }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">بعدی</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <!--blog pagination area end-->
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="blog_sidebar_widget">
                            <div class="widget_list widget_search">
                                <div class="widget_title">
                                    <h3>مقاله</h3>
                                </div>
                                <form action="{% url "blog:list" %}">
                                    <input placeholder="جستجو..." type="text" name="s"
                                           value="{{ request.GET.s }}">
                                    <button type="submit">جست و جو</button>
                                </form>
                            </div>
                            <div class="widget_list comments">
                                {% if comments %}
                                    <div class="widget_title">
                                        <h3>نظرات اخیر</h3>
                                    </div>
                                    {% for comment in comments %}
                                        {% if not comment.parent %}
                                            <div class="post_wrapper">
                                                <div class="post_info">
                                                    <span> <a href="#">{{ comment.user.fullname }}</a> می گوید:</span>
                                                    <a href="blog-details.html">{{ comment.body }}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="widget_list widget_post">
                                <div class="widget_title">
                                    <h3>پست های اخیر</h3>
                                </div>
                                {% for article in all_articles %}
                                    <div class="post_wrapper">
                                        <div class="post_thumb">
                                            <a href="{% url "blog:detail" article.slug %}"><img
                                                    src="{{ article.image.url }}" alt=""></a>
                                        </div>
                                        <div class="post_info">
                                            <h4><a href="{% url "blog:detail" article.slug %}">{{ article.title }}</a>
                                            </h4>
                                            <span>{{ article.get_jalali_date }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="widget_list widget_categories">
                                <div class="widget_title">
                                    <h3>دسته بندی ها</h3>
                                </div>
                                <ul>
                                    {% for category in blog_categories %}
                                        <li><a href="{% url "blog:list" %}?category={{ category.slug }}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">{{ category.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--blog area end-->
        </div>
    </div>
{% endblock %}