{% extends "base.html" %}
{% load static %}

{% block main %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">خانه</a></li>
                            <li>مقایسه</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- main-content-wrap start -->
    <div class="main-content-wrap compaer-page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        {% if product1 or product2 %}
                            <table class="table mb-0">
                                <tbody>
                                <tr>
                                    <td class="first-column">کد محصول</td>
                                    <td class="pro-price">{{ product1.id }}</td>
                                    <td class="pro-price">{{ product2.id }}</td>
                                </tr>
                                <tr>
                                    <td class="first-column">محصول</td>
                                    <td class="product-image-title">
                                        <a href="{% url "product:product-detail" product1.id %}" class="image"><img
                                                src="{{ product1.pictures.first }}"></a>
                                        <a href="{% url "product:product-list" %}?category={{ product1.category.slug }}"
                                           class="category">{{ product1.category.title }}</a>
                                        <a href="{% url "product:product-detail" product1.id %}"
                                           class="title">{{ product1.title }}</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="#" class="image"><img src="{{ product2.pictures.first }}"></a>
                                        <a href="#" class="category">{{ product2.category.title }}</a>
                                        <a href="#" class="title">{{ product2.title }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">کشور مونتاژ کننده</td>
                                    <td class="pro-price">{{ product1.country }}</td>
                                    <td class="pro-price">{{ product2.country }}</td>
                                </tr>
                                <tr>
                                    <td class="first-column">قیمت</td>
                                    <td class="pro-price">{{ product1.get_discounted_price }}</td>
                                    <td class="pro-price">{{ product2.get_discounted_price }}</td>
                                </tr>
                                <tr>
                                    <td class="first-column">وزن</td>
                                    <td class="pro-price">{{ product1.weight }}</td>
                                    <td class="pro-price">{{ product2.weight }}</td>
                                </tr>
                                {% for field in fields %}
                                    <tr>
                                        <td class="first-column">{{ field.0 }}</td>
                                        <td class="pro-price">
                                            {% if field.1 %}
                                                {{ field.1 }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="pro-price">
                                            {% if field.2 %}
                                                {{ field.2 }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="first-column">افزودن به سبد خرید</td>
                                    {% if product1 %}

                                        <td class="pro-addtocart">
                                            <form method="post" id="add-to-cart-form">
                                                {% csrf_token %}
                                                <input min="1" max="100" value="1" type="number"
                                                       id="quantity" hidden>
                                                <button class="button" type="submit"
                                                        style="border-radius: 8px; border-width: 0px"
                                                        title="افزودن به سبد خرید">افزودن به سبد خرید
                                                </button>
                                            </form>
                                            <div id="product-id"
                                                 data-product-id="{{ product1.id }}"
                                                 hidden></div>
                                        </td>


                                    {% endif %}
                                    {% if product2 %}
                                        <td class="pro-addtocart">
                                            <form method="post" id="add-to-cart-form">
                                                {% csrf_token %}
                                                <input min="1" max="100" value="1" type="number"
                                                       id="quantity" hidden>
                                                <button class="button" type="submit"
                                                        style="border-radius: 8px; border-width: 0px"
                                                        title="افزودن به سبد خرید">افزودن به سبد خرید
                                                </button>
                                            </form>
                                            <div id="product-id"
                                                 data-product-id="{{ product2.id }}"
                                                 hidden></div>
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="first-column">حذف</td>
                                    {% if product1 %}
                                        <td class="pro-remove">
                                            <a href="{% url "product:remove-comparison" product1.id %}"><i
                                                    class="fa fa-trash" style="font-size: x-large; color: red"></i></a>
                                        </td>
                                    {% endif %}
                                    {% if product2 %}
                                        <td class="pro-remove">
                                            <a href="{% url "product:remove-comparison" product2.id %}"><i
                                                    class="fa fa-trash" style="font-size: x-large; color: red"></i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <h2 class="mb-5">محصولی برای مقایسه وجود ندارد</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->

{% endblock %}