{% extends "base.html" %}
{% load static %}

{% block title %}
    لیست مقایسه - دیوالت لند
{% endblock %}

{% block main %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "product:comparison-list" %}">لیست مقایسه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- main-content-wrap start -->
    <div class="main-content-wrap compaer-page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        {% if products %}
                            <table class="table mb-0">
                                <tbody>
                                <tr>
                                    <td class="first-column">کد محصول</td>
                                    {% for product in products %}
                                        <td class="pro-price">{{ product.id }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="first-column">محصول</td>
                                    {% for product in products %}
                                        <td class="product-image-title">
                                            <a href="{% url "product:product-detail" product.id %}" class="image"><img
                                                    src="{{ product.pictures.first }}"></a>
                                            <a href="{% url "product:product-list" %}?category={{ product.category.slug }}"
                                               class="category">{{ product.category.title }}</a>
                                            <a href="{% url "product:product-detail" product.id %}"
                                               class="title">{{ product.title }}</a>
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>ویژگی‌ها</td>
                                    {% for product in products %}
                                        <td>
                                            {% for feature in product.features.all %}
                                                <p>
                                                    <span><i class="fa fa-check"></i> {{ feature.text }}</span>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>اقلام همراه</td>
                                    {% for product in products %}
                                        <td>
                                            {% for item in product.additional_items.all %}
                                                <p>
                                                    <span><i class="fa fa-asterisk"></i> {{ item.item }}</span>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="first-column">کشور مونتاژ کننده</td>
                                    {% for product in products %}
                                        <td class="pro-price">{{ product.country }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="first-column">قیمت</td>
                                    {% for product in products %}
                                        <td class="pro-price">
                                            {% if not product.call_before %}
                                                {{ product.get_discounted_price }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="first-column">وزن</td>
                                    {% for product in products %}
                                        <td class="pro-price">{{ product.weight }}</td>
                                    {% endfor %}
                                </tr>
                                {% for key, value in fields.items %}
                                    <tr>
                                        <td class="first-column">{{ key }}</td>
                                        <td class="pro-price">
                                            {% for i in value %}
                                                {% if i.0 == 0 %}
                                                    {{ i.1 }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        {% if max_length == 2 or max_length == 3 or max_length == 4 %}
                                            <td class="pro-price">
                                                {% for i in value %}
                                                    {% if i.0 == 1 %}
                                                        {{ i.1 }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                        {% if max_length == 3 or max_length == 4 %}
                                            <td class="pro-price">
                                                {% for i in value %}
                                                    {% if i.0 == 2 %}
                                                        {{ i.1 }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                        {% if max_length == 4 %}
                                            <td class="pro-price">
                                                {% for i in value %}
                                                    {% if i.0 == 3 %}
                                                        {{ i.1 }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="first-column">افزودن به سبد خرید</td>
                                    {% for product in products %}
                                        {% if not product.call_before %}
                                            <td class="product_total">

                                                <form method="post">
                                                    {% csrf_token %}

                                                    <input min="1" max="100" value="1" type="number"
                                                           id="quantity" hidden>

                                                    <button onclick="AddToCart('{{ product.id }}')"
                                                            class="button"
                                                            type="button"
                                                            style="border-radius: 8px; border-width: 0px"
                                                            title="افزودن به سبد خرید">افزودن به سبد
                                                        خرید
                                                    </button>

                                                </form>

                                            </td>
                                        {% else %}
                                            <td> -</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="first-column">حذف</td>
                                    {% for product in products %}
                                        <td class="pro-remove">
                                            <a href="{% url "product:remove-comparison" product.id %}"><i
                                                    class="fa fa-trash" style="font-size: x-large; color: red"></i></a>
                                        </td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <h2 class="mb-5">محصولی برای مقایسه وجود ندارد</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->

{% endblock %}