{% extends "base.html" %}
{% load static %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">خانه</a></li>
                            <li>سایدبار سمت چپ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--shop  area start-->
    <div class="shop_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <!--shop banner area end-->
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">
                            <button data-role="grid_4" type="button" class="active btn-grid-4" data-bs-toggle="tooltip"
                                    title="4"></button>
                            <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                                    title="3"></button>
                        </div>
                        <div class="page_amount">
                            <p>{{ products_count }} نتیجه</p>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <div class="row shop_wrapper">
                        {% for product in products %}
                            <div class="col-lg-3 col-md-4 col-12">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" href="{% url "product:product-detail" product.id %}"><img
                                                    src="{{ product.pictures.first }}" alt=""></a>
                                            <a class="secondary_img"
                                               href="{% url "product:product-detail" product.id %}"><img
                                                    src="{{ product.pictures.first }}" alt=""></a>
                                            <div class="label_product">
                                                {% if product.discount > 0 %}
                                                    <span class="label_sale">-{{ product.discount }}%</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product_content grid_content">
                                            <div class="product_content_inner">
                                                <p class="manufacture_product"><a
                                                        href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category }}</a>
                                                </p>
                                                <h4 class="product_name"><a
                                                        href="{% url "product:product-detail" product.id %}">
                                                    {{ product.title }} - {{ product.id }}
                                                </a></h4>
                                                <div class="price_box">
                                                    {% if product.discount > 0 %}
                                                        <span class="old_price">{{ product.get_price }}</span>
                                                        <br>
                                                        <span class="current_price">{{ product.get_discounted_price }}</span>
                                                    {% else %}
                                                        <span class="old_price"></span>
                                                        <br>
                                                        <span class="current_price">{{ product.get_price }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="add_to_cart">
                                                        <form method="post"
                                                              action="{% url "payment:cart-add" product.id %}">
                                                            {% csrf_token %}
                                                            <input min="1" max="100" value="1" type="number"
                                                                   name="quantity" hidden>
                                                            <button class="button" type="submit"
                                                                    style="border-radius: 8px; border-width: 0px"
                                                                    title="افزودن به سبد خرید">افزودن به سبد
                                                                خرید
                                                            </button>
                                                        </form>
                                                    </li>
                                                    <li class="wishlist"><a
                                                            href="{% url "product:add-favorite" product.id %}"
                                                            title="افزودن به لیست علاقمندی ها"><i
                                                            class="icon-heart"></i></a></li>
                                                    <li class="compare"><a href="#" title="مقایسه"><i
                                                            class="icon-rotate-cw"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </article>
                            </div>
                        {% endfor %}
                    </div>

                    {% if products.has_other_pages %}
                        <div class="shop_toolbar t_bottom">
                            <div class="pagination">
                                <ul>

                                    {% if products.has_previous %}
                                        <li class="next"><a href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">قبلی</a>
                                        </li>
                                    {% endif %}

                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                            <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">
                                                <li class="current">{{ i }}</li>
                                            </a>
                                        {% else %}
                                            <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">
                                                <li class="next">{{ i }}</li>
                                            </a>
                                        {% endif %}
                                    {% endfor %}

                                    {% if products.has_next %}
                                        <li class="next"><a href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">بعدی</a></li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_list widget_categories">
                            <h3>مرتب سازی بر اساس</h3>
                            <ul>
                                <li class="widget_sub_categories">
                                    <ul>
                                        <li>
                                            <a href="?filter=most-selling{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">پرفروش
                                                ترین‌ها</a>
                                        </li>
                                        <li>
                                            <a href="?filter=most-recent{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">جدیدترین‌ها</a>
                                        </li>
                                        <li>
                                            <a href="?filter=cheapest{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">ارزان
                                                ترین‌ها</a>
                                        </li>
                                        <li>
                                            <a href="?filter=most-expensive{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">گران
                                                ترین‌ها</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_list widget_categories">
                            <h3>دسته بندی ها</h3>
                            <ul>
                                {% for category in categories %}
                                    {% if not category.parent %}
                                        <li class="widget_sub_categories"><a
                                                href="javascript:void(0)">{{ category.title }}</a>
                                            <ul class="widget_dropdown_categories">
                                                {% for child in category.children.all %}
                                                    <li>
                                                        <a href="?category={{ child.slug }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.price %}&price={{ request.GET.price }}{% endif %}">{{ child.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_list widget_filter">
                            <h3>قیمت</h3>
                            <form id="price-form" action="#">
                                <div id="slider-range"></div>
                                <button type="submit">فیلتر</button>
                                <input type="text" name="price" id="amount"/>
                            </form>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->
    <script>
        // Get a reference to the form and input elements
        const form = document.getElementById('price-form');
        const input = document.getElementById('amount');

        // Add a listener for the form submission event
        form.addEventListener('submit', (event) => {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Get the current URL and parse it into its parts
            const url = new URL(window.location.href);

            // Set the value of the "text" parameter to the input value
            url.searchParams.set('price', input.value);

            // Redirect to the new URL
            window.location.href = url.toString();
        });
    </script>
{% endblock %}