{% extends "base.html" %}
{% load static %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "product:product-list" %}">لیست محصولات</a></li>
                            <li><a href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                - {{ product.id }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <div class="product_page_bg">
        <div class="container">
            <!--product details start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product-details-tab">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="{{ product.pictures.first }}"
                                         data-zoom-image="{{ product.pictures.first }}" alt="big-1">
                                </a>
                            </div>
                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                    {% for picture in product.pictures.all %}
                                        <li>
                                            <a href="#" class="elevatezoom-gallery active" data-update=""
                                               data-image="{{ picture }}"
                                               data-zoom-image="{{ picture }}">
                                                <img src="{{ picture }}" alt="zo-th-1"/>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">

                            {% for message in messages %}
                                <li class="alert alert-danger p-1">{{ message }}</li>
                            {% endfor %}
                            <h3><a href="#">{{ product.title }} - {{ product.id }}</a></h3>
                            {% if product.comments.all.count %}
                                <div class="product_rating">
                                    <ul>
                                        <li class="review"><a href="#">({{ comments.all.count }} نظر مشتری )</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="price_box">
                                {% if product.discount > 0 %}
                                    <span class="old_price">{{ product.get_price }}</span>
                                    <span class="current_price">{{ product.get_discounted_price }}</span>
                                {% else %}
                                    <span class="current_price">{{ product.get_price }}</span>
                                {% endif %}
                            </div>
                            <div class="product_desc">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>
                            <div class="product_variant color">
                                <h3>مشخصات کلی</h3>
                            </div>
                            <div class=" product_d_action">
                                <ul>
                                    <li>
                                        <p>
                                            - مونتاژ کشور {{ product.country }}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            - {{ product.weight }} وزن
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <br>
                                        <h4>اقلام همراه:</h4>
                                        {% for item in product.additional_items.all %}
                                            * {{ item.item }}
                                            <br>
                                        {% endfor %}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <br>
                                        <h4>دسته بندی ‌ها:</h4>
                                        * <a
                                            href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category.title }}</a>
                                        <br>
                                    </li>
                                    {% if product.proper_tools.all %}
                                        <li>
                                            <p>
                                                <br>
                                            <h4>ابزار قابل استفاده با این محصول:</h4>
                                            {% for product in product.proper_tools.all %}
                                                * <a
                                                    href="{% url "product:product-detail" product.id %}">{{ product.title }}
                                                - {{ product.id }}</a>
                                                <br>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="product_variant quantity">
                                <form id="cart-detail-form" method="post"
                                      action="{% url 'payment:cart-add' product.id %}">
                                    {% csrf_token %}
                                    <label>تعداد</label>
                                    <input min="1" max="100" value="1" type="number" id="quantity">
                                    <button class="cart_button" type="submit">افزودن به سبد خرید</button>
                                </form>
                            </div>
                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li>
                                    {% if request.user.is_authenticated %}
                                        <a onclick="AddFavorite('{{ product.id }}')"
                                           title="افزودن به لیست علاقمندی ها">+ افزودن به لیست علاقمندی
                                            ها
                                        </a>
                                    {% else %}
                                        <a href="{% url "accounts:sign-in" %}?return_to=/product/{{ product.id }}"
                                           title="افزودن به لیست علاقمندی ها">+ افزودن به لیست علاقمندی
                                            ها
                                        </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if request.user.is_authenticated %}
                                        <a onclick="AddCompare('{{ product.id }}')"
                                           title="افزودن به لیست مقایسه">+ افزودن به لیست مقایسه</a>
                                    {% else %}
                                        <a href="{% url "accounts:sign-in" %}?return_to=/product/{{ product.id }}"
                                           title="افزودن به لیست مقایسه">+ افزودن به لیست مقایسه</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--product details end-->

        <!--product info start-->
        <div class="product_d_info">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab"
                                       aria-controls="info" aria-selected="false">توضیحات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                       aria-selected="false">مشخصات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                       aria-selected="false"> نظرات ({{ comments.all.count }})</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sheet" role="tabpanel">
                                <div class="product_d_table">
                                    <form action="#">
                                        <table>
                                            <tbody>
                                            {% for spec in product.specifications.all %}
                                                <tr>
                                                    <td class="first_child">{{ spec.title }}</td>
                                                    <td>{{ spec.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="reviews_wrapper">
                                    <div class="comment_title">
                                        <h2>افزودن نظر</h2>
                                    </div>
                                    <div class="product_review_form mb-4">
                                        {% if request.user.is_authenticated %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="review_comment">نظر شما </label>
                                                        <input type="text" id="parent-id" name="parent-id" value=""
                                                               hidden>
                                                        <textarea name="comment" id="review_comment"
                                                                  minlength="3"
                                                                  placeholder="نظر خود را بنویسید"></textarea>
                                                    </div>
                                                </div>
                                                <button type="submit">ارسال</button>
                                            </form>
                                        {% else %}
                                            <label for="review_comment">
                                                برای ثبت نظر ابتدا باید <a href="{% url "accounts:sign-in" %}">وارد
                                                حساب کاربری خود شوید</a>
                                            </label>
                                        {% endif %}
                                    </div>
                                    {% for comment in comments %}
                                        {% if not comment.parent %}
                                            <div class="reviews_comment_box w-100">
                                                <div class="comment_text">
                                                    <div class="reviews_meta mb-2">
                                                        <p><strong>{{ comment.user.fullname }}</strong>
                                                            - {{ comment.get_jalali_date }}</p>
                                                        <span>{{ comment.body }}</span>
                                                    </div>
                                                    {% if request.user.is_authenticated %}
                                                        <button class="btn-dark rounded-pill mb-2"
                                                                onclick="reply('{{ comment.id }}')">پاسخ
                                                        </button>
                                                    {% endif %}
                                                    {% for reply in comment.replies.all %}
                                                        <div class="reviews_comment_box w-100">
                                                            <div class="comment_text bg-grey">
                                                                <div class="reviews_meta">
                                                                    <p><strong>{{ reply.user.fullname }}</strong>
                                                                        - {{ reply.get_jalali_date }}</p>
                                                                    <span>{{ reply.body }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product info end-->

        <!--product area start-->
        <section class="product_area related_products">
            <div class="row">
                <div class="col-12">
                    <div class="section_title title_style2">
                        <div class="title_content">
                            <h2>محصولات <span>مرتبط</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product_carousel product_details_column5 owl-carousel">
                    {% for item in related_products %}
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url "product:product-detail" item.id %}"><img
                                                src="{{ item.pictures.first }}" alt=""></a>
                                        <a class="secondary_img" href="{% url "product:product-detail" item.id %}"><img
                                                src="{{ item.pictures.all.1 }}" alt=""></a>
                                        {% if item.discount %}
                                            <div class="label_product">
                                                <span class="label_sale">-{{ item.discount }}%</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="product_content">
                                        <div class="product_content_inner">
                                            <p class="manufacture_product"><a
                                                    href="{% url "product:product-list" %}?category={{ item.category.slug }}">{{ item.category.title }}</a>
                                            </p>
                                            <h4 class="product_name"><a
                                                    href="{% url "product:product-detail" item.id %}">{{ item.title }}
                                                - {{ item.id }}</a></h4>
                                            <div class="price_box">
                                                {% if item.discount %}
                                                    <span class="old_price">{{ item.get_price }}</span>
                                                    <span class="current_price">{{ item.get_discounted_price }}</span>
                                                {% else %}
                                                    <span class="current_price">{{ item.get_discounted_price }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <form method="post">
                                                        {% csrf_token %}

                                                        <input min="1" max="100" value="1" type="number"
                                                               id="quantity" hidden>

                                                        <button onclick="AddToCart('{{ item.id }}')"
                                                                class="button"
                                                                type="button"
                                                                style="border-radius: 8px; border-width: 0px"
                                                                title="افزودن به سبد خرید">افزودن به سبد
                                                            خرید
                                                        </button>

                                                    </form>
                                                </li>
                                                <li class="wishlist">
                                                    {% if request.user.is_authenticated %}
                                                        <a onclick="AddFavorite('{{ product.id }}')"
                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                class="icon-heart"></i></a>
                                                    {% else %}
                                                        <a href="{% url "accounts:sign-in" %}?return_to=/product/{{ product.id }}"
                                                           title="افزودن به لیست علاقمندی ها"><i
                                                                class="icon-heart"></i></a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--product area end-->
    </div>
    </div>
    <script>
        function reply(id) {
            document.getElementById("parent-id").value = id;
            document.getElementById("review_comment").placeholder = "پاسخ خود را بنویسید"
            document.getElementById("nav-tab").scrollIntoView();
        }
    </script>

    <script>


        $(document).on('submit', '#cart-detail-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'payment:cart-add' product.id %}',
                data: {
                    quantity: $('#quantity').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function () {
                    Swal.fire({
                        text: 'این محصول به سبد خرید شما اضافه شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        location.reload()
                    })
                }
            })
        })

    </script>

{% endblock %}


