{% extends "base.html" %}
{% load static %}

{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">خانه</a></li>
                            <li>جزئیات محصول</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <div class="product_page_bg">
        <div class="container">
            <!--product details start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product-details-tab">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="{{ product.pictures.first }}"
                                         data-zoom-image="{{ product.pictures.first }}" alt="big-1">
                                </a>
                            </div>
                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                    {% for picture in product.pictures.all %}
                                        <li>
                                            <a href="#" class="elevatezoom-gallery active" data-update=""
                                               data-image="{{ picture }}"
                                               data-zoom-image="{{ picture }}">
                                                <img src="{{ picture }}" alt="zo-th-1"/>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">

                            {% for message in messages %}
                                <li class="alert alert-danger p-1">{{ message }}</li>
                            {% endfor %}
                            <h3><a href="#">{{ product.title }} - {{ product.id }}</a></h3>
                            <div class="product_rating">
                                <ul>
                                    <li class="review"><a href="#">({{ comments.all.count }} نظر مشتری )</a></li>
                                </ul>
                            </div>
                            <div class="price_box">
                                {% if product.discount > 0 %}
                                    <span class="old_price">{{ product.get_price }}</span>
                                    <span class="current_price">{{ product.get_discounted_price }}</span>
                                {% else %}
                                    <span class="current_price">{{ product.get_price }}</span>
                                {% endif %}
                            </div>
                            <div class="product_desc">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>
                            <div class="product_variant color">
                                <h3>مشخصات کلی</h3>
                            </div>
                            <div class=" product_d_action">
                                <ul>
                                    <li>
                                        <p>
                                            - محصول کشور {{ product.country }}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            - {{ product.weight }} وزن
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <br>
                                        <h4>اقلام همراه:</h4>
                                        {% for item in product.additional_items.all %}
                                            * {{ item.item }}
                                            <br>
                                        {% endfor %}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <br>
                                        <h4>دسته بندی ‌ها:</h4>
                                        * <a
                                            href="{% url "product:product-list" %}?category={{ product.category.slug }}">{{ product.category.title }}</a>
                                        <br>
                                    </li>
                                </ul>
                            </div>

                            <div class="product_variant quantity">
                                <form id="cart-detail-form" method="post"
                                      action="{% url 'payment:cart-add' product.id %}">
                                    {% csrf_token %}
                                    <label>تعداد</label>
                                    <input min="1" max="100" value="1" type="number" id="quantity">
                                    <button class="cart_button" type="submit">افزودن به سبد خرید</button>
                                </form>
                            </div>
                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li>
                                    <a onclick="AddFavorite('{{ product.id }}')"
                                       title="افزودن به لیست علاقمندی ها">+ افزودن به لیست علاقمندی
                                        ها
                                    </a>
                                </li>
                                <li><a href="{% url "product:add-comparison" product.id %}"
                                       title="افزودن به لیست مقایسه">+ افزودن به لیست مقایسه</a></li>
                            </ul>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--product details end-->

        <!--product info start-->
        <div class="product_d_info">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab"
                                       aria-controls="info" aria-selected="false">توضیحات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                       aria-selected="false">مشخصات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                       aria-selected="false"> نظرات ({{ comments.all.count }})</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sheet" role="tabpanel">
                                <div class="product_d_table">
                                    <form action="#">
                                        <table>
                                            <tbody>
                                            {% for spec in product.specifications.all %}
                                                <tr>
                                                    <td class="first_child">{{ spec.title }}</td>
                                                    <td>{{ spec.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="reviews_wrapper">
                                    <div class="comment_title">
                                        <h2>افزودن نظر</h2>
                                    </div>
                                    <div class="product_review_form mb-4">
                                        {% if request.user.is_authenticated %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="review_comment">نظر شما </label>
                                                        <input type="text" id="parent-id" name="parent-id" value=""
                                                               hidden>
                                                        <textarea name="comment" id="review_comment"
                                                                  minlength="3"
                                                                  placeholder="نظر خود را بنویسید"></textarea>
                                                    </div>
                                                </div>
                                                <button type="submit">ارسال</button>
                                            </form>
                                        {% else %}
                                            <label for="review_comment">
                                                برای ثبت نظر ابتدا باید <a href="{% url "accounts:sign-in" %}">وارد
                                                حساب کاربری خود شوید</a>
                                            </label>
                                        {% endif %}
                                    </div>
                                    {% for comment in comments %}
                                        {% if not comment.parent %}
                                            <div class="reviews_comment_box w-100">
                                                <div class="comment_text">
                                                    <div class="reviews_meta mb-2">
                                                        <p><strong>{{ comment.user.fullname }}</strong>
                                                            - {{ comment.get_jalali_date }}</p>
                                                        <span>{{ comment.body }}</span>
                                                    </div>
                                                    {% if request.user.is_authenticated %}
                                                        <button class="btn-dark rounded-pill mb-2"
                                                                onclick="reply('{{ comment.id }}')">پاسخ
                                                        </button>
                                                    {% endif %}
                                                    {% for reply in comment.replies.all %}
                                                        <div class="reviews_comment_box w-100">
                                                            <div class="comment_text bg-grey">
                                                                <div class="reviews_meta">
                                                                    <p><strong>{{ reply.user.fullname }}</strong>
                                                                        - {{ reply.get_jalali_date }}</p>
                                                                    <span>{{ reply.body }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product info end-->

        <!--product area start-->
        <section class="product_area related_products">
            <div class="row">
                <div class="col-12">
                    <div class="section_title title_style2">
                        <div class="title_content">
                            <h2>محصولات <span>مرتبط</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product_carousel product_details_column5 owl-carousel">
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img
                                            src="assets/img/product/product1.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img
                                            src="assets/img/product/product2.jpg" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-56%</span>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                           title="نمایش سریع"><i class="icon-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                        <h4 class="product_name"><a href="product-details.html">عنوان محصول شماره
                                            19</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price">320.00 تومان</span>
                                            <span class="current_price">120.00 تومان</span>
                                        </div>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="add_to_cart"><a href="cart.html" title="افزودن به سبد خرید">افزودن
                                                به سبد خرید</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    title="افزودن به لیست علاقمندی ها"><i
                                                    class="icon-heart"></i></a></li>
                                            <li class="compare"><a href="compare.html" title="مقایسه"><i
                                                    class="icon-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img
                                            src="assets/img/product/product3.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img
                                            src="assets/img/product/product4.jpg" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-52%</span>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                           title="نمایش سریع"><i class="icon-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                        <h4 class="product_name"><a href="product-details.html">عنوان محصول شماره
                                            13</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price">310.00 تومان</span>
                                            <span class="current_price">110.00 تومان</span>
                                        </div>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="add_to_cart"><a href="cart.html" title="افزودن به سبد خرید">افزودن
                                                به سبد خرید</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    title="افزودن به لیست علاقمندی ها"><i
                                                    class="icon-heart"></i></a></li>
                                            <li class="compare"><a href="compare.html" title="مقایسه"><i
                                                    class="icon-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img
                                            src="assets/img/product/product9.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img
                                            src="assets/img/product/product10.jpg" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-56%</span>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                           title="نمایش سریع"><i class="icon-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                        <h4 class="product_name"><a href="product-details.html">عنوان محصول شماره
                                            10</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price">420.00 تومان</span>
                                            <span class="current_price">180.00 تومان</span>
                                        </div>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="add_to_cart"><a href="cart.html" title="افزودن به سبد خرید">افزودن
                                                به سبد خرید</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    title="افزودن به لیست علاقمندی ها"><i
                                                    class="icon-heart"></i></a></li>
                                            <li class="compare"><a href="compare.html" title="مقایسه"><i
                                                    class="icon-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img
                                            src="assets/img/product/product1.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img
                                            src="assets/img/product/product2.jpg" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-52%</span>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                           title="نمایش سریع"><i class="icon-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                        <h4 class="product_name"><a href="product-details.html">عنوان محصول شماره
                                            17</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price">420.00 تومان</span>
                                            <span class="current_price">180.00 تومان</span>
                                        </div>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="add_to_cart"><a href="cart.html" title="افزودن به سبد خرید">افزودن
                                                به سبد خرید</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    title="افزودن به لیست علاقمندی ها"><i
                                                    class="icon-heart"></i></a></li>
                                            <li class="compare"><a href="compare.html" title="مقایسه"><i
                                                    class="icon-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img
                                            src="assets/img/product/product3.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img
                                            src="assets/img/product/product4.jpg" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_new">جدید</span>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                           title="نمایش سریع"><i class="icon-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                        <h4 class="product_name"><a href="product-details.html">عنوان محصول شماره
                                            26</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price">320.00 تومان</span>
                                            <span class="current_price">120.00 تومان</span>
                                        </div>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="add_to_cart"><a href="cart.html" title="افزودن به سبد خرید">افزودن
                                                به سبد خرید</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    title="افزودن به لیست علاقمندی ها"><i
                                                    class="icon-heart"></i></a></li>
                                            <li class="compare"><a href="compare.html" title="مقایسه"><i
                                                    class="icon-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img
                                            src="assets/img/product/product7.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img
                                            src="assets/img/product/product8.jpg" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-52%</span>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                           title="نمایش سریع"><i class="icon-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                        <h4 class="product_name"><a href="product-details.html">عنوان محصول شماره
                                            19</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price">320.00 تومان</span>
                                            <span class="current_price">120.00 تومان</span>
                                        </div>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="add_to_cart"><a href="cart.html" title="افزودن به سبد خرید">افزودن
                                                به سبد خرید</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    title="افزودن به لیست علاقمندی ها"><i
                                                    class="icon-heart"></i></a></li>
                                            <li class="compare"><a href="compare.html" title="مقایسه"><i
                                                    class="icon-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!--product area end-->
    </div>
    </div>
    <script>
        function reply(id) {
            document.getElementById("parent-id").value = id;
            document.getElementById("review_comment").placeholder = "پاسخ خود را بنویسید"
            document.getElementById("nav-tab").scrollIntoView();
        }
    </script>




    <script>


        function AddFavorite(id) {
            $.get(`/add-favorite/${id}`).then(response => {
                if (response['response'] === 'exists') {
                    Swal.fire({
                        position: 'top-end-right',
                        icon: 'warning',
                        text: 'این محصول داخل لیست علاقه مندی های شما وجود دارد',
                        showConfirmButton: false,
                        confirmButtonColor: '#112031',
                        timer: 1500
                    })
                } else {
                    Swal.fire({
                        position: 'top-end-right',
                        icon: 'success',
                        text: 'این محصول به علاقه مندی های شما اضافه شد',
                        showConfirmButton: false,
                        confirmButtonColor: '#112031',
                        timer: 1500
                    })
                }
            })
        }


        $(document).on('submit', '#cart-detail-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'payment:cart-add' product.id %}',
                data: {
                    quantity: $('#quantity').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function () {
                    Swal.fire({
                        text: 'این محصول به سبد خرید شما اضافه شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.reload()
                    })
                }
            })
        })
    </script>

{% endblock %}


