{% load static %}
<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/logo/tab-logo-2.png" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static "css/plugins.css" %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>

<!--header area start-->

<!--offcanvas menu area start-->
<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="call_support">
                        <p><i class="icon-phone-call" aria-hidden="true"></i> <span>تماس با فروشگاه : <a
                                href="tel:{{ info.telephone }}">{{ info.telephone }}</a></span></p>
                    </div>
                    <div class="search_container">
                        <form action="{% url "product:product-list" %}">
                            <div class="search_box">
                                <input placeholder="جستجوی محصول ..." type="text" name="q"
                                       value="{{ request.GET.q }}">
                                <button type="submit">
                                    <i class="fa fa-search" style="font-size: 20px"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="{% url "home:home" %}">خانه</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">حساب کاربری</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url "accounts:edit-profile" %}">اطلاعات من</a>
                                            <a href="{% url "payment:order-history" %}">تاریخچه سفارشات</a>
                                            <a href="{% url "accounts:log-out" %}">خروج از حساب</a>
                                        {% else %}
                                            <a href="{% url "accounts:sign-up" %}">ثبت نام</a>
                                            <a href="{% url "accounts:sign-in" %}">ورود</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url "product:product-list" %}">لیست محصولات</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url "product:comparison-list" %}">مقایسه</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url "blog:list" %}">وبلاگ</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url 'accounts:contact-us' %}"> تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->

<header>
    <div class="main_header">
        <!--header middel start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                        <div class="logo">
                            <a href="{% url "home:home" %}"><img src="{% static "img/logo/logo2.png" %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-6 col-sm-6 col-6">
                        <div class="header_right_box">
                            <div class="search_container">


                                <form action="{% url 'product:product-list' %}">
                                    <div class="search_box">
                                        <input placeholder="جستجوی محصول ..." type="search" name="q"
                                               value="{{ request.GET.q }}">
                                        <button type="submit">
                                            <i class="fa fa-search" style="font-size: 24px"></i>
                                        </button>
                                    </div>
                                </form>

                            </div>
                            <div class="header_configure_area">

                                <div class="header_wishlist">
                                    <a href="{% url 'product:favorite-list' %}"><i class="icon-bookmark"></i>

                                        {% for item in request.user.favorites.all %}
                                            <span class="wishlist_count">{{ request.user.favorites.all.count }}</span>
                                        {% endfor %}

                                    </a>
                                </div>

                                <div class="mini_cart_wrapper">
                                    <a href="javascript:void(0)">
                                        <i class="icon-shopping-bag2"></i>
                                        {% if cart.get_total != "0 تومان " %}
                                            <span class="cart_price">{{ cart.get_total }}<i
                                                    class="ion-ios-arrow-down"></i></span>
                                        {% endif %}
                                        <span class="cart_count">{{ cart.len }}</span>
                                    </a>
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        {% if cart.total %}
                                            <div class="mini_cart_inner">
                                                <div class="cart_close">
                                                    <div class="cart_text">
                                                        <h3>سبد خرید</h3>
                                                    </div>
                                                    <div class="mini_cart_close">
                                                        <a href="javascript:void(0)"><i class="icon-x"></i></a>
                                                    </div>
                                                </div>
                                                {% if cart %}
                                                    {% for item in cart %}
                                                        <div class="cart_item">
                                                            <div class="cart_img">
                                                                <a href="{% url 'product:product-detail' item.product.id %}"><img
                                                                        src="{{ item.product.pictures.first }}"
                                                                        alt=""></a>
                                                            </div>
                                                            <div class="cart_info">
                                                                <a href="#">{{ item.title }}</a>
                                                                <p> تعداد: {{ item.quantity }} عدد
                                                                    <span> {{ item.formatted_total }} </span></p>
                                                            </div>
                                                            <div class="cart_remove">
                                                                <a onclick="CartDel('{{ item.id }}')"><i
                                                                        class="ion-android-close"></i></a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}


                                                <div class="mini_cart_table">

                                                    <div class="cart_total mt-10">
                                                        {% if cart.total %}
                                                            <span>جمع کل:</span>
                                                            <span class="price">{{ cart.get_total }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mini_cart_footer">
                                                <div class="cart_button">
                                                    <a href="{% url 'payment:cart-detail' %}">مشاهده سبد خرید</a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <p class="alert alert-info">سبد خرید شما خالیست</p>
                                        {% endif %}
                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class=" col-lg-3">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">همه دسته بندی ها</h2>
                            </div>
                            <div class="categories_menu_toggle rounded-bottom">
                                <ul>
                                    {% for category in categories %}
                                        {% if not category.parent %}
                                            <li class="menu_item_children"><a
                                                    href="{% url "product:product-list" %}?category={{ category.slug }}">{{ category.title }}
                                                <i
                                                        class="fa fa-angle-left"></i></a>
                                                <ul class="categories_mega_menu rounded-3">
                                                    {% for child in category.children.all %}
                                                        {% if child.categories.all %}
                                                            <div class="mb-2">
                                                                <li class="">
                                                                    <a href="{% url "product:product-list" %}?category={{ child.slug }}" class="sub-category">{{ child.title }}</a>
                                                                </li>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main_menu menu_position text-left">
                            <nav>
                                <ul>
                                    <li><a href="{% url "home:home" %}">خانه</a></li>
                                    <li><a class="active" href="">حساب کاربری<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu rounded-bottom">
                                            {% if request.user.is_authenticated %}
                                                <li><a href="{% url "accounts:edit-profile" %}">اطلاعات من</a></li>
                                                <li><a href="{% url "payment:order-history" %}">تاریخچه سفارشات</a></li>
                                                </li>
                                                <li><a href="{% url "accounts:log-out" %}">خروج از حساب</a></li>
                                            {% else %}
                                                <li><a href="{% url "accounts:sign-up" %}">ثبت نام</a></li>
                                                <li><a href="{% url "accounts:sign-in" %}">ورود</a></li>
                                            {% endif %}
                                </ul>
                                </li>
                                <li><a href="{% url 'product:product-list' %}">لیست محصولات</a></li>
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'product:comparison-list' %}">مقایسه</a></li>
                                {% endif %}
                                <li><a href="{% url "blog:list" %}">وبلاگ</a></li>
                                <li><a href="{% url "accounts:contact-us" %}"> تماس با ما</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="call_support text-right" style="direction: ltr">
                            <p><span>تماس با فروشگاه: <a
                                    href="tel:{{ info.telephone }}">{{ info.telephone }}</a></span>
                                <i class="icon-phone-call" style="color: #febd17" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </div>
</header>
<!--header area end-->

{% block main %}
{% endblock %}


<!--footer area start-->
<footer class="footer_widgets">
    <!--shipping area start-->
    <!--shipping area end-->
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets_container">
                        <div class="footer_contact">
                            <div class="footer_contact_inner">
                                <div class="contact_text">
                                    <div class="contact_text">
                                    </div>
                                    <p>تلفن: </br>
                                        <strong>
                                            <a href="tel:{{ info.telephone }}">{{ info.telephone }}</a>
                                            <span>&nbsp;&nbsp; - &nbsp;&nbsp;</span>
                                            <a href="tel:{{ info.phone_number }}">{{ info.phone_number }}</a>
                                        </strong>
                                    </p>
                                    <p>آدرس فروشگاه: </br> <strong><a style="font-size: 13px">{{ info.address }}</a>
                                    </strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="footer_col_container">
                        <div class="widgets_container widget_menu">
                            <h3>صفحات</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="{% url "product:product-list" %}">لیست محصولات</a></li>
                                    <li><a href="{% url "blog:list" %}">لیست مقالات</a></li>
                                    <li><a href="{% url "accounts:contact-us" %}">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>حساب من</h3>
                            <div class="footer_menu">
                                <ul>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url "accounts:edit-profile" %}">اطلاعات من</a></li>
                                        <li><a href="{% url "accounts:log-out" %}">خروج از حساب</a></li>
                                        <li><a href="{% url "payment:order-history" %}">تاریخچه سفارشات</a></li>
                                    {% else %}
                                        <li><a href="{% url "accounts:sign-in" %}">ورود</a></li>
                                        <li><a href="{% url "accounts:sign-up" %}">ثبت نام</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu" style="width: 370px">

                            <div class="footer_social">
                                <ul class="text-center">
                                    {% if info.twitter %}
                                        <li><a class="twitter" href="{{ info.twitter }}"><i
                                                class="fa fa-twitter"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if info.youtube %}
                                        <li><a class="youtube" href="{{ info.youtube }}"><i
                                                class="fa fa-youtube-play"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if info.instagram %}
                                        <li><a class="instagram2" href="{{ info.instagram }}"><i
                                                class="fa fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if info.telegram %}
                                        <li><a class="telegram" href="{{ info.telegram }}"><i
                                                class="fa fa-telegram"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu" style="width: 200px; padding-right: 30px">
                            <a class="pointer p-2 p-4-lg d-flex ai-center jc-center border-200 radius mr-2"
                               target="_blank" referrerpolicy="origin"
                               href="https://trustseal.enamad.ir/?id=364406&amp;Code=Im1e4C6p6XA87JbGKYcZ">
                                <div style="width: 100px; height: 100px; background: #febd17; padding: 10px; border-radius: 10px">
                                    <img id="Im1e4C6p6XA87JbGKYcZ"
                                         referrerpolicy="origin"
                                         class="w-100 d-inline-block"
                                         src="https://Trustseal.eNamad.ir/logo.aspx?id=364406&amp;Code=Im1e4C6p6XA87JbGKYcZ"
                                         width="75" height="75"
                                         style="object-fit: contain;"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->


<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static "js/plugins.js" %}"></script>

<!-- Main JS -->
<script src="{% static "js/main.js" %}"></script>

<!-- Additional JS -->
<script src="{% static "js/custom.js" %}"></script>

</body>


</html>