{% load static %}
<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mazlay - Car Accessories Shop HTML Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/logo/dewalt.jpeg" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static "css/plugins.css" %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>

<!--header area start-->

<!--offcanvas menu area start-->
<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="call_support">
                        <p><i class="icon-phone-call" aria-hidden="true"></i> <span>تماس با ما : <a
                                href="tel:02198765432">02198765432</a></span></p>

                    </div>
                    <div class="search_container">
                        <form action="{% url "product:product-list" %}">
                            <div class="search_box">
                                <input placeholder="جستجوی محصول ..." type="text" name="q"
                                       value="{{ request.GET.q }}">
                                <button type="submit">
                                    <i class="fa fa-search" style="font-size: 20px"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="{% url "home:home" %}">خانه</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">حساب کاربری</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url "accounts:edit-profile" %}">اطلاعات من</a>
                                            <a href="#">سفارش‌ها</a>
                                            <a href="{% url "payment:cart-detail" %}">سبد خرید</a>
                                            <a href="{% url "product:comparison-list" %}">مقایسه محصولات</a>
                                            <a href="{% url "accounts:log-out" %}">خروج از حساب</a>
                                        {% else %}
                                            <a href="{% url "accounts:sign-up" %}">ثبت نام</a>
                                            <a href="{% url "accounts:sign-in" %}">ورود</a>
                                            <a href="{% url "payment:cart-detail" %}">سبد خرید</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url "product:product-list" %}">لیست محصولات</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">وبلاگ</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> درباره ما</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->

<header>
    <div class="main_header">
        <!--header middel start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                        <div class="logo">
                            <a href="{% url "home:home" %}"><img src="{% static "img/logo/logo.png" %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-6 col-sm-6 col-6">
                        <div class="header_right_box">
                            <div class="search_container">


                                <form action="{% url 'product:product-list' %}">
                                    <div class="search_box">
                                        <input placeholder="جستجوی محصول ..." type="search" name="q"
                                               value="{{ request.GET.q }}">
                                        <button type="submit">
                                            <i class="fa fa-search" style="font-size: 24px"></i>
                                        </button>
                                    </div>
                                </form>

                            </div>
                            <div class="header_configure_area">

                                <div class="header_wishlist">
                                    <a href="{% url 'product:favorite-list' %}"><i class="icon-bookmark"></i>

                                        {% for item in request.user.favorites.all %}
                                            <span class="wishlist_count">{{ request.user.favorites.all.count }}</span>
                                        {% endfor %}

                                    </a>
                                </div>

                                <div class="mini_cart_wrapper">
                                    {% if cart.len %}
                                        <a href="javascript:void(0)">
                                            <i class="icon-shopping-bag2"></i>
                                            <span class="cart_price">{{ cart.get_total }}<i
                                                    class="ion-ios-arrow-down"></i></span>


                                            <span class="cart_count">{{ cart.len }}</span>


                                        </a>
                                    {% endif %}
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="mini_cart_inner">
                                            <div class="cart_close">
                                                <div class="cart_text">
                                                    <h3>سبد خرید</h3>
                                                </div>
                                                <div class="mini_cart_close">
                                                    <a href="javascript:void(0)"><i class="icon-x"></i></a>
                                                </div>
                                            </div>
                                            {% for item in cart %}
                                                <div class="cart_item">
                                                    <div class="cart_img">
                                                        <a href="{% url 'product:product-detail' item.product.id %}"><img
                                                                src="{{ item.product.pictures.first }}"
                                                                alt=""></a>
                                                    </div>
                                                    <div class="cart_info">
                                                        <a href="#">{{ item.title }}</a>
                                                        <p> تعداد: {{ item.quantity }} عدد
                                                            <span> {{ item.formatted_total }} </span></p>
                                                    </div>
                                                    <div class="cart_remove">
                                                        <a onclick="CartDel('{{ item.id }}')"><i
                                                                class="ion-android-close"></i></a>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                            <div class="mini_cart_table">

                                                <div class="cart_total mt-10">
                                                    {% if cart.total %}
                                                        <span>جمع کل:</span>
                                                        <span class="price">{{ cart.get_total }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a href="{% url 'payment:cart-detail' %}">مشاهده سبد خرید</a>
                                            </div>
                                            <div class="cart_button">
                                                <a class="active" href="checkout.html">بررسی</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class=" col-lg-3">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">همه دسته بندی ها</h2>
                            </div>
                            <div class="categories_menu_toggle">
                                <ul>
                                    {% for category in categories %}
                                        {% if not category.parent %}
                                            <li class="menu_item_children"><a
                                                    href="{% url "product:product-list" %}?category={{ category.slug }}">{{ category.title }}<i
                                                    class="fa fa-angle-left"></i></a>
                                                <ul class="categories_mega_menu rounded">
                                                    <ul class="categorie_sub_menu rounded">
                                                        {% for child in category.children.all %}
                                                            <li>
                                                                <a href="{% url "product:product-list" %}?category={{ child.slug }}">{{ child.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main_menu menu_position text-left">
                            <nav>
                                <ul>
                                    <li><a href="{% url "home:home" %}">خانه</a></li>
                                    <li><a class="active" href="">حساب کاربری<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu">
                                            {% if request.user.is_authenticated %}
                                                <li><a href="{% url "accounts:edit-profile" %}">اطلاعات من</a></li>
                                                <li><a href="">سفارش‌ها</a></li>
                                                <li><a href="{% url 'payment:cart-detail' %}">سبد خرید</a></li>
                                                <li><a href="{% url 'product:comparison-list' %}">مقایسه محصولات</a>
                                                </li>
                                                <li><a href="{% url "accounts:log-out" %}">خروج از حساب</a></li>
                                            {% else %}
                                                <li><a href="{% url "accounts:sign-up" %}">ثبت نام</a></li>
                                                <li><a href="{% url "accounts:sign-in" %}">ورود</a></li>
                                                <li><a href="{% url 'payment:cart-detail' %}">سبد خرید</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'product:product-list' %}">لیست محصولات</a></li>
                                    <li><a href="">وبلاگ</a></li>
                                    <li><a href="">درباره ما</a></li>
                                    <li><a href=""> تماس با ما</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="call_support text-right">
                            <p><i class="icon-phone-call" aria-hidden="true"></i> <span>تماس با ما: <a
                                    href="tel:02198765432">02198765432</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </div>
</header>
<!--header area end-->

{% block main %}
{% endblock %}


<!--footer area start-->
<footer class="footer_widgets">
    <!--shipping area start-->
    <div class="shipping_area">
        <div class="container">
        </div>
    </div>
    <!--shipping area end-->
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets_container">
                        <h3>اطلاعات تماس</h3>
                        <div class="footer_contact">
                            <div class="footer_contact_inner">
                                <div class="contact_icone">
                                    <img src="{% static "img/icon/icon-phone2.png" %}" alt="">
                                </div>
                                <div class="contact_text">
                                    <p>تلفن: </br> <strong><a href="tel:02198765432">02198765432</a> </strong></p>
                                </div>
                            </div>
                            <p>ما تیمی از طراحان و توسعه دهندگان هستیم که قالب HTML با کیفیت بالا ایجاد می کنیم.</p>
                            <p>مکان آدرس ایمیل شما ... <br> demo@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="footer_col_container">
                        <div class="widgets_container widget_menu">
                            <h3>اطلاعات</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="#">اطلاعات تحویل</a></li>
                                    <li><a href="#">محصولات جدید</a></li>
                                    <li><a href="#">بهترین فروشها</a></li>
                                    <li><a href="my-account.html">حساب من</a></li>
                                    <li><a href="#">تاریخچه سفارش</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>سرویس های مشتری</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="my-account.html">حساب من</a></li>
                                    <li><a href="cart.html">سبد خرید</a></li>
                                    <li><a href="wishlist.html">لیست علاقمندی ها</a></li>
                                    <li><a href="#">کاهش قیمت ها</a></li>
                                    <li><a href="#">تاریخچه سفارش</a></li>
                                    <li><a href="#">سفارشات بین المللی</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>حساب من</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">نقشه سایت</a></li>
                                    <li><a href="my-account.html">حساب من</a></li>
                                    <li><a href="#">اطلاعات تحویل</a></li>
                                    <li><a href="#">تاریخچه سفارش</a></li>
                                    <li><a href="wishlist.html">لیست علاقمندی ها</a></li>
                                    <li><a href="#">محصولات ویژه</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu" style="width: 300px">
                            <div class="newsletter_container" style="color: white">
                                <h3>خبرنامه</h3>
                                <p>به بیش از 60000 مشترک بپیوندید و هر چهارشنبه یک کوپن تخفیف جدید دریافت کنید.</p>
                                <div class="subscribe_form">
                                    <form id="mc-form" class="mc-form footer-newsletter">
                                        <input id="mc-email" type="email" autocomplete="off"
                                               placeholder="آدرس ایمیل شما..."/>
                                        <button id="mc-submit">اشتراک</button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div><!-- mailchimp-alerts end -->
                                </div>
                            </div>
                            <div class="footer_social">
                                <ul class="text-center">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a class="instagram2" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->

<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static "img/product/productbig1.jpg" %}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static "img/product/productbig2.jpg" %}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static "img/product/productbig3.jpg" %}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static "img/product/productbig4.jpg" %}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-bs-toggle="tab" href="#tab1" role="tab"
                                               aria-controls="tab1" aria-selected="false"><img
                                                    src="{% static "img/product/product2.jpg" %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab2" role="tab"
                                               aria-controls="tab2" aria-selected="false"><img
                                                    src="{% static "img/product/product6.jpg" %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-bs-toggle="tab" href="#tab3"
                                               role="tab" aria-controls="tab3" aria-selected="false"><img
                                                    src="{% static "img/product/product9.jpg" %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab4" role="tab"
                                               aria-controls="tab4" aria-selected="false"><img
                                                    src="{% static "img/product/product3.jpg" %}" alt=""></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>عنوانی برای این محصول</h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">64.99 تومان</span>
                                    <span class="old_price">78.99 تومان</span>
                                </div>
                                <div class="modal_description mb-15">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با .</p>
                                </div>
                                <div class="variants_selects">
                                    <div class="variants_size">
                                        <h2>اندازه</h2>
                                        <select class="select_option">
                                            <option selected value="1">s</option>
                                            <option value="1">m</option>
                                            <option value="1">l</option>
                                            <option value="1">xl</option>
                                            <option value="1">xxl</option>
                                        </select>
                                    </div>
                                    <div class="variants_color">
                                        <h2>رنگ</h2>
                                        <select class="select_option">
                                            <option selected value="1">بنفش</option>
                                            <option value="1">یاسی</option>
                                            <option value="1">مشکی</option>
                                            <option value="1">صورتی</option>
                                            <option value="1">نارنجی</option>
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="1" max="100" step="2" value="1" type="number">
                                            <button type="submit">افزودن به سبد خرید</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>اشتراک گذاری این محصول</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal area end-->


<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static "js/plugins.js" %}"></script>

<!-- Main JS -->
<script src="{% static "js/main.js" %}"></script>


<script>


    function AddFavorite(id) {
        $.get(`/add-favorite/${id}`).then(response => {
            if (response['response'] === 'exists') {
                Swal.fire({
                    position: 'top-end-right',
                    icon: 'warning',
                    text: 'این محصول داخل لیست علاقه مندی های شما وجود دارد',
                    showConfirmButton: false,
                    confirmButtonColor: '#112031',
                    timer: 1500
                })
            } else {
                Swal.fire({
                    position: 'top-end-right',
                    icon: 'success',
                    text: 'این محصول به علاقه مندی های شما اضافه شد',
                    showConfirmButton: false,
                    confirmButtonColor: '#112031',
                    timer: 1500
                })
            }
        })
    }

    function CartDel(id) {
        Swal.fire({
            title: 'هشدار!!',
            text: 'آیااز حذف اطمینان دارید؟',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#FEBD17',
            cancelButtonColor: '#1A1A1A',
            cancelButtonText: 'خیر',
            confirmButtonText: 'بله',

        }).then((result) => {
            if (result.isConfirmed) {
                $.get(`/cart-del/${id}`).then(response => {
                    Swal.fire({
                        text: 'عملیات با موفقیت انجام شد',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        location.reload();
                    })

                })
            }

        })
    }


</script>


</body>


</html>