{% extends 'base.html' %}
{% load static %}



{% block main %}

    <!--shopping cart area start -->
    <div class="cart_page_bg">
        <div class="container">
            <div class="shopping_cart_area">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th class="product_remove">حذف</th>
                                            <th class="product_thumb">عکس</th>
                                            <th class="product_name">محصول</th>
                                            <th class="product-price">قیمت</th>
                                            <th class="product_quantity">تعداد</th>
                                            <th class="product_total">مجموع</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                            <tr>
                                                <td class="product_remove"><a
                                                        href="{% url 'payment:cart-del' item.id %}"><i
                                                        class="fa fa-trash-o"></i></a>
                                                </td>
                                                <td class="product_thumb"><a
                                                        href="{% url 'product:product-detail' item.product.id %}"><img
                                                        src="{{ item.product.pictures.first }}" alt=""></a></td>
                                                <td class="product_name"><a href="#">{{ item.title }}</a></td>
                                                <td class="product-price">{{ item.price }}</td>
                                                <td class="product_quantity"><label>تعداد</label> <input min="1"
                                                                                                         max="100"
                                                                                                         value="{{ item.quantity }}"
                                                                                                         type="number">
                                                </td>
                                                <td class="product_total">{{ item.total }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart_submit">
                                    <button type="submit">به روز رسانی سبد خرید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area start-->
                    <div class="coupon_area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code left">
                                    <h3>تخفیف</h3>
                                    <div class="coupon_inner">
                                        <p>اگر کد تخفیف خود را دارید وارد کنید.</p>
                                        <input placeholder="کد تخفیف" type="text">
                                        <button type="submit">اعمال تخفیف</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code right">
                                    <h3>مجموع سبد خرید</h3>
                                    <div class="coupon_inner">

                                        {% if cart.total %}
                                            <div class="cart_subtotal">
                                                <p>جمع کل</p>
                                                <p class="cart_amount">{{ cart.get_total }}</p>
                                            </div>
                                        {% else %}
                                            <div class="cart_subtotal">
                                                <p>جمع کل</p>
                                                <p class="cart_amount">0 تومان </p>
                                            </div>
                                        {% endif %}

                                        <div class="cart_subtotal ">
                                            <p>هزینه ارسال</p>
                                            <p class="cart_amount"><span> نرخ ثابت:</span> 255.00 تومان</p>
                                        </div>

                                        <a href="#">محاسبه حمل و نقل</a>

                                        {% if cart.total %}
                                            <div class="cart_subtotal">
                                                <p>جمع کل</p>
                                                <p class="cart_amount">{{ cart.get_total }}</p>
                                            </div>
                                        {% else %}
                                            <div class="cart_subtotal">
                                                <p>جمع کل</p>
                                                <p class="cart_amount">0 تومان </p>
                                            </div>
                                        {% endif %}


                                        {% if request.user.is_authenticated %}
                                            <div class="checkout_btn">
                                                <a href="{% url 'payment:order-creation' %}">ثبت سفارش</a>
                                            </div>
                                        {% else %}
                                            <div class="checkout_btn">
                                                <a href="{% url 'accounts:sign-in' %}?return_to={% url 'payment:cart-detail' %}">
                                                    قبل از ثبت سفارش وارد حساب کاربری خود شوید </a>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                </form>
            </div>
        </div>
    </div>
    <!--shopping cart area end -->

{% endblock %}