{% extends 'base.html' %}
{% load static %}


{% block main %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">خانه</a></li>
                            <li>بررسی</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--Checkout page section-->
    <div class="checkout_page_bg">
        <div class="container">
            <div class="Checkout_section" id="accordion">
                <div class="checkout_form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mx-auto">
                            <div class="checkout_form_right">

                                <h3> سفارش شما</h3>
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>محصول</th>
                                            <th>قیمت</th>
                                            <th>تعداد</th>
                                            <th>مجموع</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for item in order.items.all %}
                                            <tr>

                                                <td> {{ item.product.title }} </td>
                                                <td>{{ item.get_price }}</td>

                                                <td> {{ item.quantity }} </td>
                                                <td> {{ item.get_product_total }} </td>


                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>

                                        {% if order.total_price %}
                                            <tr class="order_total bg-grey">
                                                <th>مجموع کل سبد خرید</th>
                                                <td></td>
                                                <td></td>
                                                <td><strong>{{ order.get_total_price }}</strong></td>
                                            </tr>
                                        {% endif %}


                                        {% if order.delivery_method == "post" %}
                                            <tr>
                                                <th>هزینه ارسال</th>
                                                <td></td>
                                                <td></td>
                                                <td><strong> {{ order.get_post_price }}</strong></td>
                                            </tr>
                                        {% endif %}

                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment_method">

                                    {% for error in messages %}
                                        <p class=''>{{ error }}</p>
                                    {% endfor %}


                                    {% if request.user.addresses.all %}
                                        {% if order.delivery_method != "in-person" %}
                                            <div class="row">
                                                <div class="col-12 mb-20">
                                                    <label for="country">آدرس سفارش</label>

                                                    <select class="niceselect_option" name="cuntry" id="country">
                                                        {% for address in request.user.addresses.all %}
                                                            <option value="1">{{ address.address }}</option>
                                                        {% endfor %}
                                                    </select>


                                                    <li>
                                                        <a href="{% url 'accounts:add-address' %}?return_to={% url 'payment:order-detail' order.id %}">
                                                            + آدرس جدید </a></li>


                                                </div>


                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="mb-4">

                                        <form id="apply-discount-code-form" method="post">
                                            {% csrf_token %}
                                            <input placeholder="کد تخفیف" type="text" style="width: 50%"
                                                   id="discount_code">
                                            <button type="submit" class="btn btn-dark">اعمال کد تخفیف</button>
                                        </form>

                                    </div>


                                    {% if not request.user.addresses.all %}

                                        <form action="{% url 'accounts:add-address' %}?return_to={% url 'payment:order-detail' order.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="order_button">
                                                <button type="submit">لطفا یک آدرس برای سفارش خود ثبت کنید</button>
                                            </div>
                                        </form>

                                    {% else %}

                                        <form action="{% url 'payment:send-request' order.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="order_button">
                                                <button type="submit">پرداخت صورت حساب</button>
                                            </div>
                                        </form>

                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).on('submit', '#apply-discount-code-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'payment:apply-discount-code' order.id %}',
                data: {
                    discount_code: $('#discount_code').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (json) {
                    if (json['error']) {
                        Swal.fire({
                            title: 'هشدار!!',
                            text: json['error'],
                            icon: 'warning',
                            confirmButtonText: 'باشه',
                            confirmButtonColor: '#112031',
                        })
                    } else {
                        Swal.fire({
                            title: 'عملیات با موفقیت انجام شد',
                            text: json['success'],
                            icon: 'success',
                            confirmButtonText: 'باشه',
                            confirmButtonColor: '#112031',
                        }).then(function () {
                            location.reload()
                        })
                    }
                }
            })
        })
    </script>

    <!--Checkout page section end-->
{% endblock %}