{% extends 'base.html' %}
{% load static %}

{% block title %}
    تاریخچه سفارشات - کیوان ابزار
{% endblock %}

{% block main %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url "home:home" %}">خانه</a></li>
                            <li><a href="{% url "payment:order-history" %}">تاریخچه سفارشات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
    <!--shopping cart area start -->
    <div class="cart_page_bg">
        <div class="container">
            {% if orders %}
                <div class="shopping_cart_area">

                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th class="product_thumb">مبلغ تراکنش</th>
                                            <th class="product-price">تاریخ تراکنش</th>
                                            <th class="product_quantity">کد پیگیری تراکنش</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td class="product_thumb">
                                                    {{ order.get_total_price }}
                                                </td>
                                                <td>{{ order.get_jalali_date }}</td>
                                                <td>{{ order.tracking_code }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="alert alert-info mb-5 mt-60">شما تا کنون سفارشی ثبت نکرده اید</p>
            {% endif %}
        </div>
    </div>
    <!--shopping cart area end -->

{% endblock %}